{{outlet}}


<ul>
{{#each account in model}}
  <li>
    <ul>
      <li><strong>Name:</strong> {{account.name}}</li>
      <li><strong>Balance:</strong> {{account.balance}}</li>
      <button class="btn btn-link" type="button" {{action "deleteAccount" account}}> <span class="glyphicon glyphicon-remove"></span> Delete account</button>
    </ul>
  </li>
{{/each}}
</ul>

<h2>Add new account</h2>

<form>
  {{validated-input type="text" value=newAccountName errors=errors.newAccountName placeholder="New Account Name"}}
  {{input value=newAccountBalance placeholder="New Account Balance"  autofocus="autofocus"}}
  <button type="submit" {{action "addNewAccount"}}>Save new account</button>
</form>